body {
  background-color: white;
  margin: 0;
  padding: 50px;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-content: center;
  justify-content: center;
}

.secondlayer {
  background-image: url("./images/pattern-background-desktop.svg");
  /* background-color: hsl(228, 45%, 44%); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product {
  width: 38%;
}

.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 4rem 0;
  border-radius: 15px;
}
img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.headsection {
  height: 50%;
  border-radius: 15px;
}

.bodysection {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
}
.description {
  font-weight: 400;
  color: rgb(161, 156, 156);
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 1rem;
}
.plansection {
  display: flex;
  justify-content: space-between;
  background-color: hsl(228, 42%, 91%);
  width: 85%;
  margin: auto;
  border-radius: 10px;
  align-content: center;
  padding: 0.5rem;
}

.planyear {
  display: flex;
}
.plan {
  font-weight: 550;
}
.last {
  color: rgb(161, 156, 156);
  font-weight: 550;
}
.imagesection {
  width: 40px;
  align-self: center;
  margin-right: 12px;
}

p,
h4,
a {
  text-align: center;
}
a {
  align-self: center;
  color: royalblue;
}

button {
  background-color: royalblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  border: none;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
}
.cancel {
  color: rgb(161, 156, 156);
  font-weight: 550;
  cursor: pointer;
}
